/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

main > section {
    height: 750px;
}

main > hr {
    width: 98%;
    margin: 0 auto;
    color: #d3d3d3;
    opacity: 0.5;
}

h1 {
    color: white;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 50px;    
}

h3 {
    font-size: 35px;
    font-weight: 500;
}

.container {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.float-left {
    float: left;
}

.w-50 {
    width: 50%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* text */
.med-grey-p {
    color: #818181;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}

/* list-inline */
.list-inline {
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding: 0 15px;
}

.list-inline a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

/* buttons */
.btn {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    line-height: 30px;
    color: white;
    border: 2px solid;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;    
    transition: 0.3s;
}
.btn:hover {
    color: #0c325a;
    background-color: white;
    border-color: white;
    opacity: 0.8;
}

.btn-green {
    background-color: #7cbb02;
    border-color: #7cbb02;
}

.btn-lg {
    padding: 25px;
    font-size: 18px;
}

#login-btn {
    padding: 5px 40px;
}

/* header */
header {
    height: 750px;
    background-color: #0c325a;
    background-image: url("../img/background-header.png");
    background-size: 70% auto;
    background-position: 120% 104%;
    background-repeat: no-repeat;
}

.header-nav {
    height: 100px;
    line-height: 100px;
}

.header-logo {
    width: 15%;
    height: 100%;
}

.header-logo img {
    vertical-align: middle;
    height: 50%;
}

.nav-left {
    width: 45%;
    text-align: left;
}

.nav-right {
    width: 40%;
    text-align: right;
}

/* jumbotron */
.jumbotron {
    position: relative;
    height: 650px;
}

.jumbotron-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* main */
.banner {
    height: 210px;
    width: 100%;
    background-color: #d3d3d3;
}

.banner-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text p {
    margin-top: 10px;
    font-size: 25px;
} 

/* 3-blocks section */
.block-33 {
    width: 33.33%;
    height: 100%;
    padding: 15px;
    text-align: center;
}

.block-33 .block-img {
    width: 100%;
    height: 40%;
    padding: 35px;
}

.block-33 img {
    height: 100%;
}

.block-33 h3 {
    height: 13%;
    color: #7cbb02;
}

.block-33 p {
    height: 35%;
}

.separator {
    position: relative;
    height: 12%;
}

.separator hr {
    position: absolute;
    width: 20%;
    color: #d3d3d3;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}