/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

main > hr {
    width: calc(100% - 40px);
    margin: 0 auto;
    color: #d3d3d3;
    opacity: 0.5;
}

h1 {
    color: white;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 50px;    
}

h2 {
    font-size: 45px;
    font-weight: 500;
}

h3 {
    font-size: 35px;
    font-weight: 500;
}

h4 {
    font-size: 25px;
    font-weight: 500;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.block {
    padding: 50px 25px 50px ;
}

.float-left {
    float: left;
}

.align-y {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.w-33 {
    width: 33.33%;
}
.w-50 {
    width: 50%;
}
.w-70 {
    width: 70%;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}


/* palette */
.bg-deepblue {
    background-color: #0c3259;
}
.bg-blue {
    background-color: #17416b;
}
.bg-lblue {
    background-color: #6399D0;
}
.bg-green {
    background-color: #7cbb02;
}
.bg-orange {
    background-color: #f8a509;
}
.bg-lgrey {
    background-color: #d3d3d3;
}

.color-white {
    color: white;
}
.color-lblue {    
    color: #6399D0;
}
.color-green {
    color: #7cbb02;
}
.color-orange {
    color: #f8a509;
}

/* text */
.font-20 {
    font-size: 20px;
}
.small-grey-p {
    color: #818181;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.med-grey-p {
    color: #818181;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
}
.big-grey-p {
    color: #818181;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}
.center-text {
    text-align: center;
}

/* list-inline */
.list-inline {
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding: 0 15px;
}
.list-inline a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
}
.list-inline li a:not(.btn):hover {
    color: #7cbb02;
}

/* buttons */
.btn {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    line-height: 30px;
    color: white;
    border: 2px solid;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;    
    transition: 0.2s;
}
.btn:hover {
    color: white;
    background-color: #6399D0;
    border-color: #6399D0;
}

.btn-green {
    background-color: #7cbb02;
    border-color: #7cbb02;
}

.btn-med {
    padding: 10px 20px;
    font-size: 20px;
}
.btn-lg {
    padding: 25px;
    font-size: 22px;
}

#login-btn {
    padding: 5px 40px;
}

/* header */
header {
    height: 750px;
    background-image: url("../img/background-header.png");
    background-size: 70% auto;
    background-position: 120% 104%;
    background-repeat: no-repeat;
}

.header-nav {
    height: 100px;
    line-height: 100px;
}

.header-logo {
    width: 15%;
}
.header-logo img {
    vertical-align: middle;
    height: 50%;
}

.nav-left {
    width: 45%;
    text-align: left;
}

.nav-right {
    width: 40%;
    text-align: right;
}

/* jumbotron */
.jumbotron {
    position: relative;
    height: 650px;
}

/* main */

/* top banner */
.top-banner h3 {
    padding-bottom: 15px;
}

/* OVERVIEW */
.overview img {
    height: 200px;
    padding-bottom: 25px;
}
.overview h3 {
    height: 85px;
}

.overview hr {
    width: 20%;
    color: #d3d3d3;
    margin: 25px auto;
}

/* PERSONAL PLAN */
.personal-plan img{
    height: 500px;
}
.personal-plan p{
    padding: 25px 0;
}

/* VIEW PLAN */
.banner-plan h2 {
    padding: 15px 0;
}
.plan-form > span, 
.plan-form > a {
    margin-left: 30px;
}

.plan-form .select {
    border-bottom: 2px solid #818181;
}
.plan-form .select i {
    padding-left: 100px;
}
.plan-form .select:hover {
    color: #7cbb02;
    border-color: #7cbb02;
    cursor: pointer;
}

/* REAL-LIFE ENGLISH */
.real-life p {
    padding: 25px 0;
}
.real-life a,
.real-life span {
    padding: 0 25px;
}

/* DEVICES*/
.devices .block {
    width: 55%;
    margin: 0 auto;
}

.devices img {
    height: 300px;
}

.devices img,
.devices h3,
.devices p {
    padding-bottom: 25px;
}

/* MORE INFO */
.more-info p {
    padding: 25px 0;
}

/* CUSTOMERS */
.customers .title {
    margin: 75px 0;
}

.customers .block {
    padding-top: 0;
}

.customers img {
    height: 75px;
}

.customers p {
    height: 120px;
}
.customers .line {
    height: 10px;
    margin-bottom: 25px;
}

.customers img,
.customers h4,
.customers p {
    padding-bottom: 25px;
}

/* footer */

/* FAQS */
.faqs p {
    padding: 25px 0;
}

/* footer-info */
.footer-info h4 {
    padding-bottom: 25px;
    color: white;
}

.footer-menu ul {
    list-style: none;
}
.footer-menu a {
    color: #818181;
    font-size: 18px;
    line-height: 2.2;
    text-decoration: none;
    transition: 0.2s;
}
.footer-menu a:hover {
    color: #7cbb02;
}

.footer-right {
    text-align: right;
}

/* help label*/
#help-btn {
    position: fixed;
    bottom: 0;
    right: 300px;
    height: 50px;
    border-radius: 8px 8px 0 0;
}
